body {
	background: #f3f5f6;
	color: #555;
	padding: 30px;
	font-family: sans-serif;
	text-align:center;
}

form {
	background: #fff;
	box-shadow: 0 25px 50px rgba(0, 0, 0, .1);
	padding: 20px;
	width: 300px;
	box-sizing:border-box;
	margin: 0 auto .5em auto;
	text-align:left;
}

label {
	display: block;
}

input {
	margin: 1em 0;
	width: 100%;
	padding: 1em;
	outline: none;
	border: 1px solid #ccc;
	transition:.25s;
	box-sizing: border-box;
}
input:hover {
	border:1px solid rgba(27, 165, 253, 0.6);;
}
input:focus {
	border:1px solid #1BA5FD;
	box-shadow: 0 0 10px rgba(27, 165, 253, 0.4);
}

input:required:invalid {
	box-shadow:inset -3px 0 0 red;
}
input:required:valid {
	box-shadow:inset -3px 0 0 green;
}
.button {
	display: inline-block;
	width:300px;
	border-radius:3px;
	border:2px solid #B7B7B7;
	box-sizing:border-box;
	text-align:center;
	text-decoration: none;
	padding:1em 2em;
	margin:.5em 0;
	background:transparent;
	color:#B7B7B7;
	transition:.5s;
}
.button:hover {
	border:2px solid #222;
	color:#222;
}

@media (max-width:360px){
	body {
		padding:0;
		margin:0;
	}
@media (max-width:300px){
	form, .button {
		width:100%;
	}
}